    <li>
      <%= comment.commenter %> 
      says:
      <%= comment.body %>
      <%= 
      link_to "Destroy Comment", 
              [comment.article, comment],
              method: :delete,
              data: {confirm: "Are you sure?"}
      %>
    </li>  